################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProfgyanAPI_V2/WebAPI/.vs
/ProfgyanAPI_V2/WebAPI/DataEntities/obj/Debug
/ProfgyanAPI_V2/WebAPI/DataModel/obj/Debug
/ProfgyanAPI_V2/WebAPI/packages
/ProfgyanAPI_V2/WebAPI/WebAPI/obj/Debug
/ProfgyanAPI_V2/WebAPI/BusinessLayer/bin/Debug
/ProfgyanAPI_V2/WebAPI/BusinessLayer/obj/Debug
/ProfgyanAPI_V2/WebAPI/DataAccessLayer/bin/Debug
/ProfgyanAPI_V2/WebAPI/DataAccessLayer/obj/Debug
/ProfgyanAPI_V2/WebAPI/DataModel/bin/Debug
/ProfgyanAPI_V2/WebAPI/WebAPI/bin
/ProfgyanAPI_V2/WebAPI/WebAPI.Tests/bin/Debug
/ProfgyanAPI_V2/WebAPI/WebAPI.Tests/obj/Debug
/ProfgyanAPI_V2/WebAPI/BusinessDataModel/obj/Debug
/ProfgyanAPI_V2/WebAPI/BusinessDataModel/bin/Debug
/ProfgyanAPI_V2/WebAPI/DataAccessLayer/bin
/ProfgyanAPI_V2/WebAPI/DataAccessLayer/Migrations/201811032023034_IntialSchemaCreation.resx
/ProfgyanAPI_V2/WebAPI/DataAccessLayer/Migrations/201811032023034_IntialSchemaCreation.Designer.cs
/ProfgyanAPI_V2/WebAPI/DataAccessLayer/Migrations/201811032023034_IntialSchemaCreation.cs
/ProfgyanAPI_V2/WebAPI/IBusinessLayer/bin/Debug
/ProfgyanAPI_V2/WebAPI/IBusinessLayer/obj/Debug
