################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProfgyanAPI_V2/WebAPI/.vs
