  <!-- banner -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
        <li data-target="#myCarousel" data-slide-to="3" class=""></li>
        <li data-target="#myCarousel" data-slide-to="4" class=""></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <div class="container">
            <div class="carousel-caption">
              <!-- <p>Courses</p> -->
              <h3>We provide best courses within the <span>shortest terms.</span></h3>
            </div>
          </div>
        </div>
        <div class="item item2">
          <div class="container">
            <div class="carousel-caption">
              <!-- <p>Marketing</p> -->
              <h3>Change your thoughts for a <span>better you.</span></h3>
            </div>
          </div>
        </div>
        <div class="item item3">
          <div class="container">
            <div class="carousel-caption">
              <!-- <p>Development</p> -->
              <h3>Simple ways to beat <span>procrastination.</span></h3>
            </div>
          </div>
        </div>
        <div class="item item4">
          <div class="container">
            <div class="carousel-caption">
              <!-- <p>Business</p> -->
              <h3>Modernizing, virtualizing your <span>business!</span></h3>
            </div>
          </div>
        </div>
        <div class="item item5">
          <div class="container">
            <div class="carousel-caption">
              <!-- <p>Maths</p> -->
              <h3>Achieve More with {{title}} <span> Coaching Sessions.</span></h3>
            </div>
          </div>
        </div>
      </div>
      <!-- Arrows -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="fa fa-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="fa fa-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!-- //Arrows -->
    </div>
    <!--//banner -->
    
  <!-- about -->
	<div class="aboutf">
      <div class="container">
        <h3 class="tittlef-agileits-w3layouts">Top most popular courses</h3>
        <p class="paragraphf">Our top professionals are teaching below courses. Choose course for enrollment.</p>
      </div>
      <div class="banner_bottom_tab_grids">
       <app-courses></app-courses>
      </div>
    </div>
    <!-- //about-->
    <!-- Materials -->
    <!-- //Materials-->
    <!-- Reviews -->
    <div class="reviewf-main">
      <div class="container">
        <h3 class="tittlef-agileits-w3layouts">Amazing Client Stories</h3>
        <!-- reviewsf-left -->
        <div class="col-md-6 reviewsf-left">
          <div class="reviewsf-left">
            <div class="news-grids-bottom">
              <!-- cycler -->
              <div id="design" class="date">
                <div id="cycler">
                  <div class="date-text">
                    <img src="assets/images/tf1.jpg" alt=" " class="img-responsive" />
                    <div class="clientf-info">
                      <span class="fa fa-quote-left" aria-hidden="true"></span>
                      <p>Progyan has redefined the e-learning service with the help of technology. They have excellent faculty</p>
                      <h6>Elizabeth Harper</h6>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                  <div class="date-text">
                    <img src="assets/images/tf2.jpg" alt=" " class="img-responsive" />
                    <div class="clientf-info">
                      <span class="fa fa-quote-left" aria-hidden="true"></span>
                      <p>I had taken Web Development course from Profgyan. The instructors were passionate about their subjects 
                        and go the extra miles to help candidates learn/configure the setup.
                         Support staff are also very helpful. Course prices are reasonable. 
                         Like any learning, we need to practice a lot after the course and watch the recorded videos again and again to get full grasp of the subject. 
                        I would recommend Progyan to anyone who wants to learn new and emerging technologies. </p>
                      <h6>Anthony</h6>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                  <div class="date-text">
                    <img src="assets/images/tf3.jpg" alt=" " class="img-responsive" />
                    <div class="clientf-info">
                      <span class="fa fa-quote-left" aria-hidden="true"></span>
                      <p>The classes are very informative. Many simple and real world examples make the technical topics easy to understand.
                         Now, I will never forget the Angular and SQL concepts.</p>
                      <h6>Karen smith</h6>
                    </div>
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </div>
              <!-- //cycler -->
            </div>
          </div>
        </div>
        <!-- //reviewsf-left -->
        <div class="col-md-6 reviewsf-right">
          <h3 class="sub-w3ls-headf">Profgyan serve you the best platform to build your career.</h3>
          <div class="buttonf-styl">
            <a [routerLink]="['/contact']" routerLinkActive="active">Contact Us</a>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
    <!-- //Reviews -->
   
    