<!-- banner -->
<div class="innerf-banner">
</div>
<!--//banner -->
<!-- Page details -->
<div class="services-agile-breadcrumb">
  <div class="inner_breadcrumb">
    <ul class="short_ls">
      <li>
        <a href="index.html">Home</a>
        <span>| |</span>
      </li>
      <li>Faqs</li>
    </ul>
  </div>
</div>
<!-- //Page details -->
<!-- FAQ-help-page -->
<div class="help about faq-sec">
  <div class="container">
    <h3 class="w3-head">How can we help you</h3>
    <div class="faq-w3agile">
      <h5>Top 10 Frequently asked questions(FAQ)</h5>
      <ul class="faq">
        <li class="item1">
          <a href="#" title="click here">
            How does Profgyan protect my privacy and information security?.
          </a>
          <ul>
            <li class="subitem1">
              <p>
                We understand your concern about privacy and security. We give you a confident that your information will safe and secured
                and whenever you needed you can access it.
              </p>
            </li>
          </ul>
        </li>
        <li class="item2">
          <a href="#" title="click here">
            How students will get in touch with me? 
          </a>
          <ul>
            <li class="subitem1">
              <p>When the students get registered into our site, then he/she enroll the perticular course based on your ratings. 
                Like wise students will get connected to you.</p>
            </li>
          </ul>
        </li>
        <li class="item3">
          <a href="#" title="click here">
          What is trainer contribution to Profgyan?  
          </a>
          <ul>
            <li class="subitem1">
              <p>Trainer should give his best to trainer the students and make the students to advertise the about Profgyan.</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- //FAQ-help-page -->