<div class="row">
  <div class="col-sm-8 col-md-4 col-lg-4 mx-auto">
    <div class="text-center m-2">
      <div class="icon-block rounded-circle">
        <i class="material-icons align-middle md-36 text-muted">lock</i>
      </div>  
    </div>
    <div class="card bg-transparent">
      <div class="card-header bg-white text-center">
        <h4 class="card-title">Login</h4>
        <p class="card-subtitle">Access your account</p>
      </div>
      <div class="card-body">
          <form action="#" method="post">
          <div class="form-group">
            <input type="email" class="form-control" name="Username" required="Email Name" placeholder="Email Address" [(ngModel)]='username'>
          </div>
          <div class="form-group">
            <input type="password" class="form-control"  name="Password" placeholder="Password" required="Password" [(ngModel)]='password'>
          </div>
          <div class="form-group ">
            <input type="submit" class="btn  btn-primary btn-block" (click)='login()' value="Login">
          </div>
          <div class="text-center">
            <a href="#"><small>Forgot Password?</small></a> 
          </div>
        </form>
      </div>
      <!-- <div class="card-footer text-center bg-white">
        Not yet a student? <a href="guest-signup.html">Sign up</a> 
      </div> -->
    </div>
  </div>
</div>