<div id="verticalTab" class="resp-vtabs" style="display: block; width: 100%; margin: 0px;">
  <div class="resp-tabs-container">
    <!-- tab1 -->
    <div class="resp-tab-content resp-tab-content-active">
      <!-- tabs-info -->
      <div class="main-topicsf w3ls-fsocial-grid">
        <div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids" *ngFor="let course of allCourse">
          <img src="{{preFix + course.URL}}" alt="{{course.CourseName}}" />
          <div class="img-caption">
            <div class="tabs-inn-info-agileits-w3layouts">
              <a [routerLink]="['/coursedetail']" class="buttonf">Enrollment</a>
            </div>
          </div>
          <h3 class="sub-w3ls-headf"> <span class="fa fa-hand-o-up" aria-hidden="true">&nbsp;</span>{{course.CourseName}}</h3>
          <p class="paragraphf">{{course.Description}}</p>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="clearfix"> </div>
    </div>
    <!-- //tabs-info -->
  </div>
  <!--// tab5 -->
</div>