<div class="modal-body">
    <div class="loginf_module">
        <div class="module form-module">
           <div class="form">
                <form action="#" method="post">
                    <input type="text" name="Username" placeholder="Username" required="User Name" [(ngModel)]='username' />
                    <input type="password" name="Password" placeholder="Password" required="Password" [(ngModel)]='password' />
                    <input type="submit" (click)='login()' value="Login">
                </form>
                <div class="cta"><a href="#">Forgot your password?</a></div>
            </div>
        </div>
    </div>
</div>