<!-- banner -->
<div class="innerf-banner">
	</div>
	<!--//banner -->
	<!-- Page details -->
	<div class="services-agile-breadcrumb">
		<div class="inner_breadcrumb">
			<ul class="short_ls">
				<li>
					<a [routerLink]="['/']" routerLinkActive="active">Home</a>
					<span>| |</span>
				</li>
				<li>About</li>
			</ul>
		</div>
	</div>
	<!-- //Page details -->
	<!--about-top-->
	<div class="about-ftop-inn">
		<div class="container">
			<h3 class="tittlef-agileits-w3layouts">About Us</h3>
			<div class="abt-img">
				<h3 class="sub-w3ls-headf white-clrf">Shortly about  ProfGyan Coaching Sessions.</h3>
			</div>
			<div class="abtf-info">
				<div class="about-grids">
					<h5>Why choose us</h5>
					<p class="paragraphf"><span class="fa fa-repeat" aria-hidden="true"></span> 5+ Years of experience</p>
					<p class="paragraphf"><span class="fa fa-repeat" aria-hidden="true"></span> Range of coaching</p>
					<p class="paragraphf"><span class="fa fa-repeat" aria-hidden="true"></span> Pricing's Affordability</p>
				</div>
				<div class="about-grids">
					<h5>Our Vision</h5>
					<p class="paragraphf">Profgyan vision to build an online networking with Professionals and Jobseekers through the different set of Courses.</p>
				</div>
				<div class="about-grids">
					<h5>success coaching programs</h5>
					<p class="paragraphf">We provide an platform to fill the gap between the traniners and trainees.</p>
				</div>
			</div>
		</div>
	</div>
	<!--//about-top-->

	<!-- stats-f -->
	<div class="stats-f">
		<div class="container">
			<h3 class="tittlef-agileits-w3layouts white-clrf">Things that make our coaching the best</h3>
			<div class="stats-f_inner_grids">
				<div class="col-md-6">
					<h3 class="sub-w3ls-headf white-clrf">5 Years of experience</h3>
					<p class="paragraphf white-clrf ">We understand the students problems and we work towards their career to make them success in life.</p>
					<div class="stats-f_left counter_grid">
						<span class="fa fa-book" aria-hidden="true"></span>
						<p class="counter">5</p>
						<h4>Courses</h4>
					</div>
					<div class="stats-f_left counter_grid1">
						<span class="fa fa-users" aria-hidden="true"></span>
						<p class="counter">1</p>
						<h4>Happy clients</h4>
					</div>
				</div>
				<div class="col-md-6">
					<div class="stats-f_left counter_grid2">
						<span class="fa fa-user-plus" aria-hidden="true"></span>
						<p class="counter">100</p>
						<h4>People loved</h4>
					</div>
					<div class="stats-f_left counter_grid3">
						<span class="fa fa-trophy" aria-hidden="true"></span>
						<p class="counter">0</p>
						<h4>Awards won</h4>
					</div>
					<h3 class="sub-w3ls-headf white-clrf">Success coaching programs</h3>
					<p class="paragraphf white-clrf ">We provide an platform to fill the gap between the traniners and trainees.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //stats-f -->